body {
    margin: 0px;
    font-family: roboto; 
    
}

a:link, 
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr;
width: 100%;
height: 176px;
background-color: #8AB9FF;
}

header img {
    width: 130px; 
    height: auto;
    align-self: center;
    padding-left: 20px;
}

nav {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-column: 3 / 3            /** Plassering som children  */
}

nav ul {

    grid-row: 2/3;
    align-content: end;
}

.menu li {
    display: inline;
    padding: 0px 40px  0px 40px;

}

.menu a {
    color: white;
    
}

.visit {
    text-align: center;
    color: #FFFF;
    grid-row: 1/1;
    justify-self: center;
    background-color: #FF9E9E;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px #757575;
    width: 90px;
    height: 20px;
    flex-shrink: 0;
}

.fa-search {
    color: #FFFF;
}


.exhibit_head {
    background-color: #757575;
    width: 80%;
    margin: auto;
    color: white;
}


.card_box {
    width: 100%;
}

.cards_wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
        width: 80%;
        margin: auto;
}

.card_box img{
    width: 100%;
    height: auto;
    margin: 0px;
    vertical-align: middle;
    
}


.card_info {
    background-color: #FF9E9E;
    width: 100%;
    height: 80px;
    margin: 0px;

}
  