body {
  margin: 0px;
  font-family: roboto;
  color: white;
}
.burger-dropdown {
  display: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

h3 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
}

li,
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/* FONTS */

.text_wrapper p {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 200;
  line-height: 200%;
}

.text_container_event h5 {
  padding: 10px 30px 0px 30px;
  font-size: 20px;
  font-weight: 100;
  margin: 5px;
}

.text_container_event h3 {
  padding: 40px 30px 0px 30px;
  margin: 5px;
}

header img {
  width: 130px;
  height: auto;
  align-self: center;
  padding-left: 25%;
}

header ul,
.visit {
  padding: 0px 10px 10px 10px;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.1px;
}

nav {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-column: 3 / 3; /** Plassering som children  */
}

/* ---- Header/footer-------*/

footer,
header {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr;
  width: 100%;
  height: 176px;
  background-color: #8ab9ff;
  box-shadow: 2px 2px 2px #757575;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #8ab9ff;
  margin-top: 50px;
}

.footer_section li {
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 100;
  line-height: 140%;
}

.footer_section .fa {
  font-size: 40px;
  margin-left: 10px;
  text-align: right;
}

.footer_section {
  padding: 0px 40px 40px 40px;
  text-align: left;
}

.align-text-right {
  text-align: right;
}

.opening_hours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.footer_section nav ul {
  grid-row: 2/3;
  align-content: end;
}

.menu li {
  display: inline;
  padding: 0px 40px 0px 40px;
}

.menu a {
  color: white;
}

.visit {
  text-align: center;
  color: #ffff;
  grid-row: 1/1;
  justify-self: center;
  background-color: #ff9e9e;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 2px 2px 2px #757575;
  width: 90px;
  height: 20px;
  flex-shrink: 0;
}

.fa-search {
  color: #ffff;
}

.img_head {
  width: 100%;
  height: 250px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: 100% 20%;
  position: relative;
  z-index: -1;
}
.section_head_event,
.section_head {
  background-color: #757575;
  width: 70%;
  margin: 60px auto 20px auto;
  color: white;
}

.section_head_event {
  background-color: white;
  color: #757575;
}

.section_head h1 {
  padding: 15px;
  font-size: 30px;
}

.card_box {
  width: 100%;
}
.text_wrapper,
.cards_wrapper {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.text_wrapper {
  display: grid;
  grid-gap: 150px;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

/* Exhibition spaces */

.card_box img {
  width: 100%;
  height: 230px;
  margin: 0px;
  display: block;
  object-fit: cover;
  object-position: 10% 50%;
}

.card_1 {
  background: #ffaa31;
}

.card_2,
.card2 img {
  background: #6bb577;
}

.card_3 {
  background: #db6060;
}
.card_4 {
  background: #daa75d;
}
.card_5 {
  background: #373730;
}

.card_6 {
  background: #b2d1ff;
}

.card_info {
  width: 100%;
  height: 140px;
  margin: 0px;
}

.card_info h2 {
  margin: 0px;
  text-align: end;
  padding: 10px 20px 0px 0px;
  color: white;
}

/* Whats new */

.card_7,
.card_7 img {
  background: #4a8dad;
  object-position: 0% 0%;
}

.card_8 {
  background: #7b5cae;
}

.card_9,
.card_9 img {
  background: #7b563b;
  object-position: 0% 70%;
}

/* Events */

.event_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 20px auto 40px auto;
}

.text_container_event {
  background: #4a8dad;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.text_container_event b {
  font-size: 22px;
}

.img_container_event img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: 10% 70%;
}

.img_container_event {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.event_energetica {
  background: #7b5cae;
}

.event_night {
  background: #7b563b;
}

.ticket_button {
  color: white;
  width: 100%;
  background-color: #8ab9ff;
  border-style: none;
}

.ticket_button h3 {
  margin: 10px;
}

/* Involved */

.text_wrapper_involved {
  display: flex;
  width: 70%;
  margin: 70px auto 70px auto;
  color: #000;
  font-size: 20px;
}

.text_wrapper_involved h4 {
  font-weight: 300;
  margin-top: 10px;
}

.text_wrapper_involved h2 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin: 5px 0px 20px 0px;
}

.left_section {
  padding-right: 15%;
}

.left_section img,
.right_section img {
  padding: 30px 0px 0px 0px;
}

.right_section {
  padding-left: 15%;
}

.magnify {
  padding: 70px 0px 70px 20%;
}

.hours b {
  color: #ffa8a8;
}

/* Booking */

.section_wrapper {
  background-color: #8ab9ff;
  width: 70%;
  margin: auto;
  height: 800px;
}
.section_wrapper .section_head {
  width: 100%;
}

.book_button {
  width: 70%;
  height: 70px;
  padding: 0px;
  margin: 30px auto 10px auto;
  border-style: none;
  border-radius: 5px;
  background: #627d92;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.book_button h3 {
  padding: 10px;
  margin: 0px;
}

.split_wrapper {
  display: flex;
}

.left_split {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right_split {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input_prop {
  color: #757575;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 70%;
  margin: 0px auto 0px auto;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  flex-shrink: 0;
  border: none;
}

.comment_prop {
  background-color: white;
  height: 40%;
  text-align: left;
}

.left_split label,
.right_split label {
  width: 70%;
  margin: 30px auto 5px auto;
}

.align_left {
  text-align: left;
}

/* Confirmed */

.section_wrapper_confirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40em;
}

.section_wrapper_confirmed h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;
}

.section_wrapper_confirmed h5 {
  padding-top: 40px;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  width: 50%;
}

.section_wrapper_confirmed b {
  font-size: 22px;
  font-weight: 700;
}

/* Mobile view */

@media only screen and (max-width: 701px) {
  /* display: none */

  header ul,
  .visit,
  .magnify {
    display: none;
  }

  /* Header/Footer */

  header {
    display: flex;
    justify-content: space-between;
    height: 130px;
  }

  header img {
    width: 90px;
    height: auto;
    align-self: center;
    padding-left: 5%;
  }

  footer {
    text-align: center;
    justify-content: center;
  }

  .footer_section {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .opening_hours_footer {
    width: fit-content;
    margin: auto;
  }
  .days_footer {
    text-align: left;
  }

  .hours_footer {
    text-align: right;
  }

  .opening_hours_top {
    order: -1;
    -webkit-order: -1;
  }

  .info_bottom {
    order: 2;
  }
  .info_bottom ul {
    columns: 2;
  }

  .last_order {
    order: 3;
  }

  .footer_section .fa {
    margin: 5px;
  }

  .text_wrapper_involved {
    flex-direction: column;
    text-align: left;
  }

  .left_section,
  .right_section {
    padding: 10px 0px 10px 0px;
  }

  #sidemenu {
    position: relative;
    background: #757575;
    width: 150px;
    height: 600px;
    right: -150px;
    transition: 0.4s;
  }
  #sidemenu .button-side {
    position: relative;
    top: 40px;
    right: 60px;
    transition: 0.2s;
  }
  #sidemenu.active .button-side {
    position: absolute;
    top: 40px;
    right: 20px;
    transform: rotate(90deg);
  }

  #sidemenu.active span {
    width: 20px;
    height: 5px;
    background: #ffffff;
    display: block;
    margin-top: 4px;
  }

  .button-side span {
    width: 35px;
    height: 4px;
    background: #ffffff;
    display: block;
    margin-top: 4px;
  }

  #sidemenu.active {
    width: 100%;
    right: 0px;
    box-shadow: 2px 2px 5px black;
  }

  #sidemenu a {
    list-style: none;
    color: #ffffff;
    font-size: 35px;
    font-weight: 900;
    padding: 20px;
  }

  #sidemenu img {
    max-height: 20px;
    left: 5px;
  }

  .sidemenu_container {
    padding: 50px 40px 10px 20px;
  }
}

/* DESKTOP VIEW */

@media only screen and (min-width: 768px) {
  /*Display none */

  .sidemenu_container {
    display: none;
  }
}
